.info {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

.navbar {
  background-color: #b3b3b3;
  padding: 10px 20px;
  border: solid;
  border-width: 1px;
}

.navbar a {
  margin-right: 10px;
}

.navbar button {
  margin-left: 10px;
}
